.new-year{
     height:450px;
     width:1200px;
     background-image: url('resources/Banner\ Image.png');background-repeat: no-repeat;
     background-size:1200px 450px;
     margin:0 auto ;  
     border-radius: 16px;
}
.new-year-title{
     color: #FFF;
     text-align: center;
     font-family: 'Merriweather', serif;
     /* border: #FFF dashed 1px; */
}
.sub-title{
    padding:135px 0px 0px 0px;
    /* border:#FFF dashed 1px; */
}
.title{
    font-size:42px;
}

/* 65% off section */
.off{
    width:1200px;
    margin:0 auto;
    /* border:#F00 solid 5px; */
    font-family: 'Inter', sans-serif;
    text-align: center;
}
.off-title{
    margin:100px;
}
.main-off-title{
    color: #F00;
    text-align:center;
    font-size: 45px;
    font-weight: 700;
 
}
.small-title{
    color:#F00;
}
/* midnight section */
.midnight-full-container{
     height:450px;
     width:1200px;
     /* border:#F00 solid 5px; */
     background-image: url('resources/Vectorrr.png');
     background-repeat: no-repeat;
     background-size:1200px 450px;
     margin:0px auto ; 
     display:flex;
}


.midnight-container{
    font-family: 'Merriweather', serif;
    margin:100px 130px;
}


.midnight-title{
     color: #fff6f6;
     letter-spacing: 6px;
     font-weight:900;
     width:350px;
     font-size: 32px;

}
.midnight-description{
    color: rgba(255, 255, 255, 0.80);
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 100;
    padding-top:15px;

}
.im{  
    padding:50px 100px;
}
#btn{
    color:#9a3c3ce0;
    font-weight: bold;
}
.red{
    color:#F00;
}
.venue{
    height:450px;
    width:1200px; 
    margin:80px auto;
    background-image: linear-gradient(rgba(255, 0, 0, 0.10),rgba(255, 0, 0, 0.00));
    border-radius:13px;
}
.venue-details{
    text-align:center;
    padding:125px;
   
    font-family: 'Inter', sans-serif;
}
#venue-button{
    color:azure;
    border-radius:5px;
    margin:15px;
    padding:10px;
    background-color: #F00;
}
.portfolio{
    /* text-align:center; */
    /* border:#F00 solid 2px; */
    width:1200px;
    margin:0 auto;
}
.portfolio-title{
    font-size: 32px;
    font-family: 'Merriweather', serif ;
    margin-top:-5px;
    margin-left:4px;
}
.gifts{
    margin-left:4px;
}
.portfolio-description{
    font-family: 'Inter', sans-serif;
    font-weight: 100;
    margin-bottom:50px;
    margin-left:4px;
}
.pic{
    /* border:#F00 solid 5px; */
    border-radius:16px;
    margin:5.5px;
    padding:2px;
   
}
.pic-one{
    display:flex;
}
.pic-two{
    display:flex;
}
.subscriber{
    width:1200px;
    margin:100px auto;
    background-color: rgba(255, 0, 0, 0.05);
    text-align:center;
   
    padding:100px 0;
    font-family: 'Merriweather', serif ;
}
.subscriber-title{
    color: #070211;
    font-size: 35px;
}
.subscriber-description{
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: 'Inter', sans-serif;
    margin-top:-10px;
    margin-bottom:50px;
   
}
#input{
    border-radius: 20px 0 0 20px;
    border:#FFF solid 2px;
    padding:10px;
    margin-right:0;
}
#subscribe-btn{
    border-radius:0 20px 20px 0;
    border:#F00 solid 2px;
    background-color:red;
    color:#FFF;
    margin-left:-4.5px;
    padding:10px;
}
.footer{
    background: #070211;

}

.foot-first{
    color:#FFF;
    font-family: 'Inter', sans-serif;
    display:flex;
    justify-content:space-between;
}
.foot-icon{
    text-align: center;
}
.foot-second{
    color:#FFF;
    font-family: 'Inter', sans-serif;
    display:flex;
    justify-content:space-between;
    
}
.left-up{
    
    max-width:400px;
    margin:100px 0 50px 100px;
    
}
.left-bottom{
    
    
    max-width:400px;
    margin:50px 0 100px 100px;

}
.right-up{
   
    
    max-width:400px;
    margin:100px 100px 50px 0;

}
.right-bottom{
    max-width:400px; 

    margin:50px 100px 100px 0;
}
.circle{
    width:1200px;
    margin:0 auto 100px;
    display: flex;
    
}
.circle-part{
    width:350px;
    margin:auto;
}
.image{
    margin:auto; 
    padding:12px; 
    border:#F00 solid 7px;
    border-radius:1000%; 
}

.come{
    font-size:30px;
    font-family: 'Merriweather', serif ;
}
.circle-description{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-weight: 400;
}
.year{
    font-size: 30px;
}
.what-is-functional{
    width:1200px;
    margin:100px auto;
    font-family: Inter;
}
.summary{
    text-align:center;
}
.main-title{
    font-size:50px;
    font-family: 'Merriweather', serif ;
    margin-top:-7px;
}
.functional-description{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    max-width:400px;
    margin:auto;
}

.hard{

    width:1200px;
    margin:0px auto 100px;
}

    